@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 10px;
}

/* navigation*/
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li {
  list-style-type: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 640px) {
  nav ul li {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: 900px) {
  nav ul li {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
  }
}

@media screen and (min-width: 1199px) {
  nav ul li {
    -ms-flex-preferred-size: calc(100% / 6);
        flex-basis: calc(100% / 6);
    font-size: 1rem;
  }
}

nav ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  line-height: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* contest*/
/* sekcja polecane zawody */
.section-contest {
  /* height: 100vh; */
  /* overflow: hidden; */
  /* background-color: rgb(212, 201, 173); */
}

.section-contest h1 {
  border-top: 1px solid white;
  line-height: 200px;
  background-image: url(../img/contest_h1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-contest article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  /* overflow: hidden; */
}

.map {
  position: relative;
  text-align: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-transform: translateX(55%);
          transform: translateX(55%);
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.contest .no-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contest .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.contest .contest-city {
  width: 54.3vw;
  font-size: 4.6rem;
  text-align: right;
  color: black;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(137, 165, 192, 0.9);
  padding-right: 40px;
  margin-bottom: 10px;
}

.contest-name:hover {
  cursor: pointer;
}

.contest .contest-name {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: rgba(137, 165, 192, 0.6);
  color: black;
  padding-left: 10px;
  font-size: 3rem;
}

.contest ul {
  display: block;
  list-style: none;
  background-color: rgba(137, 165, 192, 0.3);
  /* background-color: rgba(0, 0, 0, 0.1); */
  padding-left: 10px;
}

.contest .novisible {
  display: none;
}

.contest ul li {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.contest ul li::before {
  content: "✔ ";
}

.contest ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.contest ul li a:hover {
  color: white;
}

.map div {
  position: absolute;
  font-family: 'Lato', sans-serif;
}

.map-szczecin {
  top: 19%;
  left: 11%;
}

.map-gdansk {
  top: 6%;
  left: 44%;
}

.map-poznan {
  top: 40%;
  left: 30%;
}

.map-warszawa {
  top: 43%;
  left: 62%;
}

.map-wroclaw {
  top: 60%;
  left: 29%;
}

.map-krakow {
  top: 80%;
  left: 55%;
}

.map-olawa {
  top: 63%;
  left: 31%;
}

.map-laskowice {
  top: 61%;
  left: 33%;
}

.map-henrykow {
  top: 66%;
  left: 27%;
}

.map-sobotka {
  top: 63%;
  left: 24%;
}

.map-kolobrzeg {
  top: 10%;
  left: 18%;
}

.map-brzeg {
  top: 66%;
  left: 34%;
}

.fa-dot-circle:hover {
  font-size: 2rem;
  cursor: pointer;
  color: yellow;
  -webkit-transform: translate(-5%, -25%);
          transform: translate(-5%, -25%);
}

.fa-dot-circle:hover span {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
}

.map img {
  width: 85%;
  height: auto;
}

/* calculators*/
.section-calculators .calculators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.section-calculators .calculators article {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-calculators .calculators article h2 {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 2.5rem;
  line-height: 5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.section-calculators .calculators article h2:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.section-calculators .calculators article p {
  font-size: 2rem;
  padding: 1.5rem;
}

.calc-visible {
  display: none;
}

/* tabele Danielsa */
table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

table tr {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table tr:hover {
  background-color: brown;
}

table td {
  width: 8%;
  font-size: 2rem;
}

/* calculator BMI */
.calc-bmi-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calc-bmi-flex .bmi-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: blue;
  text-align: center;
}

.calc-bmi-flex .bmi-result {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: brown;
}

.calc-bmi-flex .bmi-result .bmi-result-p1,
.calc-bmi-flex .bmi-result .bmi-result-p3 {
  font-size: 2rem;
  text-align: center;
}

.calc-bmi-flex .bmi-result .bmi-result-p2 {
  font-size: 7rem;
  text-align: center;
}

.calc-bmi-flex .bmi-scope {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: yellow;
}

.input-bmi-weight {
  background-color: cadetblue;
}

.input-bmi-weight input {
  font-size: 4rem;
  width: 9rem;
  text-align: center;
}

.input-bmi-height {
  background-color: chocolate;
}

.input-bmi-height input {
  width: 9rem;
  font-size: 4rem;
  text-align: center;
}

.button-calculate,
.button-clean {
  display: inline-block;
  width: 120px;
  padding: 15px 15px;
  margin: 15px 15px;
  font-size: 1.6rem;
  font-weight: 900;
  text-align: center;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.button-calculate {
  background-color: green;
}

.button-clean {
  background-color: red;
}

.button-calculate:hover {
  background-color: white;
  color: green;
}

.button-clean:hover {
  background-color: white;
  color: red;
}

.calc-distance-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input,
select {
  font-size: 2rem;
}

input {
  width: 50px;
  height: 4rem;
  text-align: center;
}

select {
  height: 3rem;
}

.calc-input {
  text-align: center;
}

/*links*/
/* links section */
.section-links h1 {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.section-links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.section-links .links .link-element {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
}

.section-links .links .link-element .link-description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-links .links .link-element .link-a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  border: 1px solid #fff;
  font-size: 1.5rem;
  padding: 10px 25px;
  text-transform: uppercase;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.section-links .links .link-element .link-a:hover {
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
  background: rgba(0, 0, 0, 0.7);
}

.section-links .links .link-element img {
  width: 100%;
  height: auto;
  -webkit-transition: .4s linear;
  transition: .4s linear;
  -webkit-animation: link-element 4s;
          animation: link-element 4s;
}

.section-links .links .link-element h3 {
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
  -webkit-transform: translatey(-100px);
          transform: translatey(-100px);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  padding: 10px;
}

.section-links .links .link-element:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section-links .links .link-element:hover h3 {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

@media (min-width: 500px) and (max-width: 900px) {
  .section-links .links .link-element {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 499px) {
  .section-links .links .link-element {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@-webkit-keyframes link-element {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes link-element {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  color: white;
}

footer .footer-logo {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 2rem;
  line-height: calc(2rem + 2rem);
  -webkit-animation: footer-logo linear 1.5s;
          animation: footer-logo linear 1.5s;
}

@media screen and (min-width: 739px) {
  footer .footer-logo {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    font-size: 4rem;
    line-height: calc(2rem + 4rem);
  }
}

@-webkit-keyframes footer-logo {
  0% {
    color: rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  90% {
    color: rgba(0, 0, 0, 0.2);
  }
  100% {
    color: white;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes footer-logo {
  0% {
    color: rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  90% {
    color: rgba(0, 0, 0, 0.2);
  }
  100% {
    color: white;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

footer .footer-social-media {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 739px) {
  footer .footer-social-media {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

footer .footer-social-media div {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  font-size: 4rem;
  cursor: pointer;
}

footer .footer-social-media div :hover {
  color: brown;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 739px) {
  footer .footer-social-media div {
    font-size: 5rem;
  }
}

footer .footer-contact {
  padding-top: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-contact h2 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1rem;
  color: white;
}

footer .footer-contact .footer-contact-form {
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

footer .footer-contact .footer-contact-form div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  background-color: rgba(31, 31, 36, 0.9);
  color: white;
}

footer .footer-contact .footer-contact-form .footer-contact-form-name {
  height: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 739px) {
  footer .footer-contact .footer-contact-form .footer-contact-form-name {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

footer .footer-contact .footer-contact-form .footer-contact-form-mail {
  height: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 739px) {
  footer .footer-contact .footer-contact-form .footer-contact-form-mail {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

footer .footer-contact .footer-contact-form .footer-contact-form-text {
  height: 5rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: roboto;
}

footer .footer-contact .footer-contact-form .footer-contact-form-send {
  border: none;
  font-size: 1rem;
  color: white;
  border-radius: 4%;
  background-color: rgba(31, 31, 36, 0.9);
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
  margin: 1rem auto;
  height: 2.5rem;
  cursor: pointer;
}

footer .footer-copy {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 0.625rem;
  line-height: 1.5rem;
}
/*# sourceMappingURL=style.css.map */