* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 10px;
}

/* navigation*/
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li {
  list-style-type: none;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 640px) {
  nav ul li {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: 900px) {
  nav ul li {
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3);
  }
}

@media screen and (min-width: 1199px) {
  nav ul li {
    -ms-flex-preferred-size: calc(100% / 6);
        flex-basis: calc(100% / 6);
    font-size: 1rem;
  }
}

nav ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  line-height: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/*links*/
/* footer */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  color: white;
}

footer .footer-logo {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 2rem;
  line-height: calc(2rem + 2rem);
  -webkit-animation: footer-logo linear 1.5s;
          animation: footer-logo linear 1.5s;
}

@media screen and (min-width: 739px) {
  footer .footer-logo {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    font-size: 4rem;
    line-height: calc(2rem + 4rem);
  }
}

@-webkit-keyframes footer-logo {
  0% {
    color: rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  90% {
    color: rgba(0, 0, 0, 0.2);
  }
  100% {
    color: white;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes footer-logo {
  0% {
    color: rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  90% {
    color: rgba(0, 0, 0, 0.2);
  }
  100% {
    color: white;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

footer .footer-social-media {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 739px) {
  footer .footer-social-media {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

footer .footer-social-media div {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  font-size: 4rem;
  cursor: pointer;
}

footer .footer-social-media div :hover {
  color: brown;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 739px) {
  footer .footer-social-media div {
    font-size: 5rem;
  }
}

footer .footer-contact {
  padding-top: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-contact h2 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1rem;
  color: white;
}

footer .footer-contact .footer-contact-form {
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

footer .footer-contact .footer-contact-form div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  background-color: rgba(31, 31, 36, 0.9);
  color: white;
}

footer .footer-contact .footer-contact-form .footer-contact-form-name {
  height: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 739px) {
  footer .footer-contact .footer-contact-form .footer-contact-form-name {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

footer .footer-contact .footer-contact-form .footer-contact-form-mail {
  height: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 739px) {
  footer .footer-contact .footer-contact-form .footer-contact-form-mail {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

footer .footer-contact .footer-contact-form .footer-contact-form-text {
  height: 5rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: roboto;
}

footer .footer-contact .footer-contact-form .footer-contact-form-send {
  border: none;
  font-size: 1rem;
  color: white;
  border-radius: 4%;
  background-color: rgba(31, 31, 36, 0.9);
  -ms-flex-preferred-size: 5rem;
      flex-basis: 5rem;
  margin: 1rem auto;
  height: 2.5rem;
  cursor: pointer;
}

footer .footer-copy {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 0.625rem;
  line-height: 1.5rem;
}
/*# sourceMappingURL=style.css.map */