.section-calculators {
    .calculators {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        article {
            border: 1px solid white;
            background-color: rgba(0, 0, 0, 0.5);

            h2 {
                background-color: rgba(0, 0, 0, 0.4);
                font-size: 2.5rem;
                line-height: 5rem;
                text-transform: uppercase;
                text-align: center;
                cursor: pointer;
                transition: 0.3s linear;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                    color: white;
                }

            }

            p {
                font-size: 2rem;
                padding: 1.5rem;
            }

        }
    }
}

.calc-visible {
    display: none;


}

/* tabele Danielsa */
table {
    display: flex;
    width: 100%;
    flex-direction: column;

    tr {
        text-align: center;
        display: flex;
        justify-content: center;

        &:hover {
            background-color: brown;
        }
    }

    td {
        width: 8%;
        font-size: 2rem;
    }
}


/* calculator BMI */

.calc-bmi-flex {
    display: flex;
    justify-content: center;

    .bmi-form {
        flex-grow: 1;
        flex-basis: 30%;
        background-color: blue;
        text-align: center;

    }

    .bmi-result {
        flex-grow: 1;
        flex-basis: 30%;
        background-color: brown;

        .bmi-result-p1,
        .bmi-result-p3 {
            font-size: 2rem;
            text-align: center;
        }

        .bmi-result-p2 {
            font-size: 7rem;
            text-align: center;
        }
    }

    .bmi-scope {
        flex-grow: 1;
        flex-basis: 30%;
        background-color: yellow;
    }


}


.input-bmi-weight {
    background-color: cadetblue;
}

.input-bmi-weight input {
    font-size: 4rem;
    width: 9rem;
    text-align: center;
}

.input-bmi-height {
    background-color: chocolate;
}

.input-bmi-height input {
    width: 9rem;
    font-size: 4rem;
    text-align: center;
}



.button-calculate,
.button-clean {
    display: inline-block;
    width: 120px;
    padding: 15px 15px;
    margin: 15px 15px;
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.button-calculate {
    background-color: green;

}

.button-clean {
    background-color: red;

}

.button-calculate:hover {
    background-color: white;
    color: green;
}

.button-clean:hover {
    background-color: white;
    color: red;
}

.calc-distance-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input,
select {
    font-size: 2rem;
}

input {
    width: 50px;
    height: 4rem;
    text-align: center;
}

select {
    height: 3rem;
}

.calc-input {
    text-align: center;
}