footer {
    background-color: silver;
    display: flex;


    .footer-logo {
        text-align: center;
    }

    .footer-social {
        .footer-social-media {}

        .footer-social-contact {}
    }

    .footer-copy {
        text-align: center;
    }
}