.section-previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(/img/background_previews.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    overflow: hidden;


    .section-previews-content {
        flex-basis: 65%;
        text-align: center;
        position: relative;

        .preview-content {
            background-color: rgba(210, 210, 210, 0.7);
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 2rem;

        }

        .animation-preview-content {
            animation: animation-preview-content 2s linear;
        }



    }

    .section-previews-racing {
        flex-basis: 35%;
        display: flex;
        flex-wrap: wrap;
        transition: 1s;
        transform: translateX(90%);

        .section-previews-banner {
            flex-basis: 10%;
            position: relative;
            background-color: rgba(210, 210, 210, 0.7);

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.2rem;
                padding: 100px 0;


            }

            i:hover {
                cursor: pointer;
                color: white;
            }

        }

        .section-previews-all {
            display: flex;
            flex-basis: 90%;
            flex-wrap: wrap;

            .preview {
                flex-basis: 50%;
                text-align: center;
                // align-self: center;
                // align-self: stretch;
                padding: 10px 0;
                background-color: rgba(210, 210, 210, 0.7);

                p:nth-child(1) {
                    font-weight: 900;
                    font-size: 1rem;
                }

                p {
                    font-size: 0.7rem;
                }

            }

            .preview:hover {
                background-color: rgba(210, 210, 210, 0.3);
                cursor: pointer;
            }

        }

    }

    .animation-previews-button {
        animation: animation-previews-button 1.5s linear infinite;
    }

    @keyframes animation-previews-button {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }

    }

    @keyframes animation-preview-content {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .section-previews-racing-visible {
        transform: translateX(0%);

    }
}