.section-previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(/img/background_previews.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    .section-previews-content {
        flex-basis: 65%;
        text-align: center;
        position: relative;

        .preview-content {
            background-color: rgba(210, 210, 210, 0.7);
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            font-size: 100px;
            transition: 2s;
        }

    }

    .section-previews-racing {
        flex-basis: 35%;
        display: flex;
        flex-wrap: wrap;


        .preview {
            flex-basis: 50%;
            text-align: center;
            align-self: center;
            // border: 1px solid yellow;
            padding: 10px 0;
            background-color: rgba(210, 210, 210, 0.7);

            p:nth-child(1) {
                font-weight: 900;
                font-size: 1rem;
            }

            p {
                font-size: 0.7rem;
            }

        }

        .preview:hover {
            background-color: rgba(210, 210, 210, 0.3);
            cursor: pointer;
        }

    }
}