/* calculator BMI */

.calc-bmi {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;

        .form-description {
            background-color: yellow;
            text-transform: uppercase;
            padding-top: 0.5rem;
        }

        p {
            padding-bottom: 0.5rem;
        }

        .input-bmi-weight {
            background-color: red;
            padding-bottom: 1rem;

        }

        .input-bmi-height {
            background-color: blue;
            padding-bottom: 1rem;
        }
    }

    .bmi-result {}

    .button-wrapper {}

}