.menu {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 25%;
    height: 100%;
    z-index: 1000;
    transform: translate(100%);
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;

    li {
        list-style-type: none;
        padding: 0.5rem 0 0.5rem 2rem;
        color: rgba(255, 255, 255, 0.7);
        border-bottom: 1px solid black;
        transform: translate(100%);

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.7);
            font-size: 1rem;
            letter-spacing: 0.1rem;

        }

        a:hover {
            color: rgba(255, 255, 255, 0.9);
        }
    }


    li:nth-child(1) {
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-right: 4rem;
        text-align: right;
        border-bottom: none;
    }

    li:nth-child(1):hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.9);
    }

}