.section-running {
    display: flex;

    .running-contest {
        display: none;
        transform: translate(100%);
    }



    .section-running-wrapper {
        display: flex;
        flex-wrap: wrap;

        .running-arms {
            flex-basis: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            border: 1px solid white;


            .running-arm {
                background-color: yellow;
                width: 100px;
                text-align: center;
                padding: 5px;

                img {
                    height: 40px;

                }

            }

            .running-city {
                background-color: red;
                width: 300px;
                font-size: 20px;
                padding: 5px;
                line-height: 40px;

            }
        }
    }

}


@keyframes arm {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}