    .section-running-wrapper {
        position: relative;

        .running-arms {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            border: 1px solid white;

            .running-arm {
                background-color: yellow;
                width: 70px;
                text-align: center;
                padding: 10px;

                img {
                    height: 60px;

                }

            }

            .running-city {
                background-color: red;
                width: 300px;
                font-size: 25px;
                padding: 10px;
                line-height: 60px;

            }
        }
    }


    @keyframes arm {
        0% {
            transform: rotateY(0deg);
        }

        100% {
            transform: rotateY(360deg);
        }
    }