.section-running {
    display: flex;
    // justify-content: center;

    .running-contest {
        display: none;
        // transform: translate(200%);
        background-color: blue;
        flex-grow: 2;


    }


    .section-running-wrapper {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        flex-basis: 100%;
        margin: 0 auto;

        .running-arms {
            flex-basis: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            border: 1px solid white;


            .running-arm {
                background-color: yellow;
                width: 100px;
                text-align: center;
                padding: 5px;

                img {
                    height: 40px;

                }

            }

            .running-city {
                background-color: red;
                width: 300px;
                font-size: 20px;
                padding: 5px;
                line-height: 40px;

            }
        }
    }

}


@keyframes arm {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}