/* sekcja z relacjami z biegów */

.relations {
    // background-image: url(/img/relations/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .relation {
        background-color: rgb(158, 176, 201);
        display: flex;
        align-items: center;
        flex-basis: 50%;
        margin: 1px 0px;

        .relation-images {
            flex-basis: 30%;

            .relation-1st-image {
                display: flex;
                padding: 0 1.5rem;
                width: 80%;

                img {
                    border-radius: 10%;

                }

            }

            .relation-all-images {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;


                img {
                    flex-basis: 32%;
                    border-radius: 10%;
                    margin: 2px;

                }
            }

            .novisible {
                display: none;
            }

        }

        .relation-1st-descrition {
            align-self: flex-start;
            flex-basis: 70%;
            color: rgba(0, 0, 0, 0.9);

            h3 {
                font-size: 1.2rem;
                padding: 10px 0;
                position: relative;

                i {
                    padding-left: 4rem;
                    padding-right: 4rem;
                }

                i:hover {
                    cursor: pointer;

                }

                .close,
                .show {
                    position: absolute;
                    right: 0;
                    line-height: 1.5rem;

                }
            }

            p {
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 500;



            }

            .novisible {
                display: none;
            }


        }

    }


}