/* sekcja z relacjami z biegów */

.section-relations h1 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    line-height: 200px;
    background-image: url(../img/previews_h1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.relations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .relation {
        display: flex;
        align-items: center;
        flex-basis: 50%;
        margin: 15px 0;

        .relation-images {
            flex-basis: 30%;

            .relation-1st-image {
                display: flex;
                padding: 0 1.5rem;

                img {
                    border-radius: 10%;

                }

            }

            .relation-all-images {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;

                img {
                    flex-basis: 32%;
                    border-radius: 10%;
                    margin: 2px;
                }
            }

            .novisible {
                display: none;
            }

        }

        .relation-1st-descrition {
            align-self: flex-start;
            flex-basis: 70%;



            h3 {
                font-size: 1.5rem;
                padding: 10px 0;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.8rem;
                font-weight: 500;


            }

            .novisible {
                display: none;
            }


        }

        .relation-1st-descrition:hover {
            cursor: pointer;
        }

        .relation-1st-descrition:hover p {
            text-decoration: underline;
        }


    }


}