/* sekcja polecane zawody */


.section-contest h1 {
    border-top: 1px solid white;
    line-height: 200px;
    background-image: url(../img/contest_h1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-contest article {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* overflow: hidden; */

}

.contest {
    display: flex;
    width: 55%;
    transform: translateX(100%);

}

.contest .no-active {
    display: flex;
    flex-direction: column;

}

.contest .active {
    display: flex;
    order: -1;
    transform: translateX(0%);
    transition: 1s linear;
}

.contest .contest-city {
    width: 54.3vw;
    font-size: 4.6rem;
    text-align: right;
    color: black;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(137, 165, 192, 0.9);
    padding-right: 40px;
    margin-bottom: 10px;

}

.contest-name:hover {
    cursor: pointer;
}

.contest .contest-name {
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: rgba(137, 165, 192, 0.6);
    color: black;
    padding-left: 10px;
    font-size: 3rem;

}

.contest ul {
    display: block;
    list-style: none;
    background-color: rgba(137, 165, 192, 0.3);
    /* background-color: rgba(0, 0, 0, 0.1); */
    padding-left: 10px;

}

.contest .novisible {
    display: none;

}

.contest ul li {
    font-size: 1.8rem;
    line-height: 2.7rem;

}

.contest ul li::before {
    content: "✔ ";
}

.contest ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: black;

}

.contest ul li a:hover {
    color: white;
}