/* links section */
.section-links {
    background-color: $color-primary-opacity;
    padding-top: 40px;
    padding-bottom: 40px;

    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;


        .link-element {
            margin: 50px;
            height: 80px;
            // flex-grow: 1;
            background-color: black;
            flex-basis: 10%;
            border: 1px solid white;

        }
    }

}