/* links section */
.section-links {
    background-image: url(/img/background_running.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;


    @media (min-width: 500px) {
        background-size: cover;

    }


    .links {
        display: flex;
        flex-direction: column;
        text-align: center;

        @media (min-width: 500px) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media (min-width: 749px) {
            flex-direction: row;
            flex-wrap: wrap;
        }


        .link-element {
            padding: 4rem;
            opacity: 0;

            @media (min-width: 500px) {
                flex-basis: 50%;
            }

            @media (min-width: 749px) {
                flex-basis: 33%;
            }

            i {
                color: $color-secondary-opacity;
                font-size: $font-size-xxl;
                transform: rotateX(-360deg);
                transition: .5s;

                @media (min-width: 749px) {
                    font-size: 4.5rem;
                }

            }

            a {
                display: inline-block;
                transform: rotate(380deg);
                text-decoration: none;
                transition: .5s;

            }

            a:hover i {
                color: $color-secondary-hover;
                transform: rotate(0deg);

            }

            a:hover {
                // letter-spacing: 0.2rem;
                transform: rotate(0deg);
            }

            h2 {
                margin-top: 1rem;
                font-size: $font-size-md;
                color: $color-primary;
            }

        }
    }

}